/* .column-5 {
  font-family: Montserrat, sans-serif !important;
}

.column-5 ul {
  font-family: Montserrat, sans-serif !important;
font-size: 16px !important;
  line-height: 1.4 !important;
}

.column-5 ul li {
  font-family: Montserrat, sans-serif !important;
font-size: 16px !important;
  line-height: 1.4 !important;
}

.column-5 p {
  font-family: Montserrat, sans-serif !important;
font-size: 16px !important;
  line-height: 1.4 !important;
}

.imgnotahome.chica {
   height: 75% !important;
   width: 100% !important;
}

.imgnotahome.destacado {
   height: 75% !important;
   width: 100% !important;
} */
/* 
p span {
  font-family: Montserrat, sans-serif !important;
  font-size: 16px !important;
  line-height: 1.4 !important;
}

p {
  font-family: Montserrat, sans-serif !important;
}

p iframe {
  width: 100% !important;
} */

.navbar {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  height: 59px;
  margin-top: 0px;
  padding-right: 15%;
  padding-left: 15%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #8f5959;
  text-align: center;
}

.brand {
  display: block;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.heading {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 19px;
  color: #fff;
}

.nav-menu {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.navlink {
  padding-top: 0px;
  padding-bottom: 10px;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 200;
  text-transform: uppercase;
}

.navlink:hover {
  color: #bbb5b5;
}

.navlink.w--current {
  color: #fff;
  font-weight: 600;
}

.div-block {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.header {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 106px;
  padding-right: 7%;
  padding-left: 7%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #8f5959;
}

.heading-2 {
  display: none;
  font-size: 22px;
  line-height: 29px;
  font-weight: 400;
}

.image {
  background-image: -webkit-linear-gradient(270deg, rgba(29, 7, 7, .97), rgba(29, 7, 7, .97));
  background-image: linear-gradient(180deg, rgba(29, 7, 7, .97), rgba(29, 7, 7, .97));
}

.section {
  width: auto;
  height: auto;
  padding: 0px 10px 50px 0%;
  border-right: 1px none #8c8787;
}

.div-block-3 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  padding-right: 7%;
  padding-left: 7%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 3%, 48%, .53);
}

.section-2 {
  width: auto;
  height: auto;
  padding-right: 0%;
  float: right;
  background-color: transparent;
}

.div-block-4 {
  position: relative;
  height: 400px;
  background-image: url('../images/pasta-fresca2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.titulonota {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, .81);
}

.titulonota.chica {
  font-size: 14px;
}

.heading-3 {
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  color: #eb8838;
  font-size: 24px;
  font-weight: 400;
}

.paragraph {
  display: none;
  width: auto;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 0px;
  border-top: 1px none #000;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #fff;
  font-size: 39px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
  text-shadow: 1px 1px 6px #000;
}

.div-block-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.row {
  height: 300px;
  margin-top: 10px;
}

.column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.divnotachica {
  position: relative;
  height: 321px;
  padding-right: 5px;
  padding-left: 0px;
}

.divnotachica.autor {
  height: 320px;
}

.divnotachica.der {
  height: auto;
  padding-right: 0px;
  padding-left: 5px;
}

.divnotachica.otrascosas {
  height: 250px;
}

.titulonotas {
  margin-bottom: 10px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #eb8838;
  font-size: 22px;
  font-weight: 400;
  cursor: pointer;
}

.titulosecciones {
  position: relative;
  z-index: 10;
  display: block;
  margin: 0px auto;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
}

.titulosecciones.sidebar {
  display: block;
  margin: 30px auto;
}

.titulosecciones.sb {
  font-size: 20px;
}

.div-block-7 {
  height: 250px;
}

.image-2 {
  max-height: 300px;
  min-height: 300px;
  min-width: 100%;
}

.image-2.otrascosas {
  max-height: 250px;
  min-height: 250px;
}

.divnovedad {
  position: relative;
  margin-bottom: 5px;
  padding-right: 2px;
  padding-left: 2px;
}

.txtautor {
  display: inline-block;
  float: right;
  font-family: Merriweather, serif;
  color: #8f5959;
  font-size: 12px;
  font-weight: 400;
}

.imgautor {
  position: absolute;
  top: 2px;
  right: 6px;
  bottom: 0px;
  width: 70px;
  float: right;
}

.column-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-4 {
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px solid #9e9999;
  background-color: transparent;
}

.divpagina {
  padding-right: 7%;
  padding-left: 7%;
}

.row-2 {
  padding-right: 0px;
  padding-bottom: 50px;
  border-right: 1px none #8c8787;
}

.parrafonotas {
  display: block;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #eb8838;
  font-weight: 300;
}

.image-3 {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.txtvinomes {
  margin-top: 0px;
  padding: 15px;
  border: 1px none #8c8787;
  background-color: #e7eaeb;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.div-block-9 {
  position: relative;
  margin-top: 55px;
}

.publisb {
  margin-top: 63px;
  cursor: pointer;
}

.image-4 {
  display: block;
  width: 100%;
  margin: 24px auto;
}

.video {
  margin-top: 13px;
  margin-bottom: 30px;
}

.publis {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(9, 10, 10, .82);
}

.publis.cuerpo {
  height: auto;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.62;
}

.publis.cuerpo.chica {
  margin-top: 27px;
}

.logopubli {
  display: inline-block;
  width: 89px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
}

.subtsidebar {
  font-family: Montserrat, sans-serif;
  color: #eb710e;
  font-size: 16px;
  text-align: center;
}

.iconosidebar {
  display: block;
  width: 50px;
  margin-right: auto;
  margin-left: auto;
}

.image-5 {
  width: 100%;
  margin-top: 11px;
}

.body {
  padding-top: 164px;
  padding-bottom: 0px;
}

.social {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 13px;
  margin-right: 7%;
  margin-bottom: 0px;
  padding-right: 0%;
  padding-bottom: 0px;
}

.linksocial {
  width: 29px;
  margin-left: 3px;
  opacity: 0.45;
  -webkit-transition: opacity 200ms cubic-bezier(.55, .055, .675, .19);
  transition: opacity 200ms cubic-bezier(.55, .055, .675, .19);
}

.linksocial:hover {
  opacity: 0.69;
}

.brand2 {
  position: absolute;
  left: 0px;
  top: 3px;
  width: 127px;
  margin-top: 6px;
  margin-left: 7%;
}

.brand2.movil {
  display: none;
}

.headerall {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2000;
  display: block;
}

.image-6 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 100px 7%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(9, 10, 10, .82);
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .81), rgba(0, 0, 0, .81)), url('../images/imgFooter.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .81), rgba(0, 0, 0, .81)), url('../images/imgFooter.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.image-7 {
  display: block;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
}

.txtfooter {
  margin-top: 0px;
  margin-bottom: 9px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 200;
  text-align: left;
  text-transform: none;
}

.txtfooter.borravino {
  color: #8f5959;
  font-size: 18px;
  font-weight: 400;
}

.image-8 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.imgpagina {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  margin-top: 0px;
  padding-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/gastroFondo.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.busqueda {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.busqueda.foot {
  position: relative;
  display: none;
  margin-top: 0px;
  margin-right: 0%;
}

.busqueda.celu {
  display: none;
}

.image-9 {
  display: inline;
}

.image-9.foot {
  display: none;
  opacity: 0.58;
}

.div-block-11 {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 200px;
  height: 25px;
  margin-right: 9px;
  padding-top: 3px;
  padding-left: 5px;
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, .15);
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, .36);
  font-style: italic;
}

.div-block-11.foot {
  position: relative;
  top: auto;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: rgba(57, 56, 56, .87);
  color: hsla(0, 0%, 100%, .38);
  text-align: left;
}

.background-video {
  margin-top: 0px;
}

.parrvinopalabras {
  margin-bottom: 34px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #8f5959;
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

.titvinopalabras {
  margin-bottom: 13px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  color: #8f5959;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
}

.section-3 {
  height: 300px;
}

.row-3 {
  position: relative;
  height: auto;
}

.libea {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: none;
  width: 100%;
  height: 1px;
  background-image: -webkit-linear-gradient(0deg, #000, #fff 53%, #8f5959 98%);
  background-image: linear-gradient(90deg, #000, #fff 53%, #8f5959 98%);
}

.libea.arriba {
  left: 0px;
  top: 0px;
  right: auto;
  bottom: auto;
  display: none;
  height: 2px;
  margin-top: -14px;
}

.div-block-12 {
  position: relative;
  width: 70%;
}

.image-10 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.77;
}

.div-block-13 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-4 {
  position: relative;
  left: 0px;
  margin-top: 0px;
  padding: 0px 10px 5px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 12%, 97%, .29);
  font-family: Merriweather, serif;
  font-size: 33px;
  font-weight: 300;
}

.dropdown-toggle {
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.text-block {
  color: #fff;
}

.dropdownlink {
  color: #fff;
}

.dropdownlink.w--current {
  color: #fff;
  font-weight: 500;
}

.dropdownlist.w--open {
  margin-top: 5px;
  margin-left: 18px;
  background-color: #8f5959;
  box-shadow: 0 0 32px 0 hsla(0, 4%, 9%, .4);
  color: #8f5959;
}

.audio {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: -33px;
  z-index: 100;
  display: none;
  height: 142px;
  background-color: transparent;
}

.linkaudio {
  position: static;
  width: 33px;
  margin: -12px 7px 8px;
  float: left;
}

.sobrefondo {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/gastroBife.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.txtentrefotos {
  position: relative;
  left: 0px;
  top: 0px;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  text-shadow: 1px 1px 6px #000;
}

.seccionpagina {
  height: auto;
  margin-top: 0px;
  padding-top: 165px;
  background-color: #fff;
}

.subtpagina {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #8f5959;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 200;
  text-align: center;
}

.seccionnota {
  display: inline;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.divaudio {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  width: auto;
  margin-top: 33px;
  margin-left: 7%;
  opacity: 0.6;
  cursor: pointer;
}

.audioon {
  display: inline-block;
  width: 30px;
}

.audiooff {
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
  width: 30px;
}

.nota {
  height: auto;
  margin-top: 0px;
  padding: 30px 7%;
}

.rutanota {
  margin-top: 43px;
  margin-bottom: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  font-weight: 800;
}

.titnota {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Bitter, serif;
}

.divencabezadonota {
  position: relative;
  margin-top: 40px;
  margin-bottom: 15px;
}

.divdatosnota {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.txtdatonota {
  position: absolute;
  left: 0px;
  top: 0px;
  display: block;
  float: left;
  font-family: Montserrat, sans-serif;
}

.column-5 {
  margin-bottom: 38px;
  padding-right: 10px;
  padding-left: 0px;
}

.fotonota1 {
  width: 100%;
  margin-bottom: 30px;
}

.notasrelac {
  margin-top: 0px;
  margin-bottom: 9px;
  font-family: Montserrat, sans-serif;
  font-size: 15px;
}

.parrnota {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 400;
}

.subtnota {
  margin-top: 0px;
  margin-bottom: 4px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.div-block-14 {
  margin-top: 179px;
}

.text-block-2 {
  display: inline-block;
  margin-top: 21px;
  margin-right: 85px;
  float: right;
  font-family: 'Droid Serif', serif;
  text-align: right;
}

.div-block-15 {
  position: relative;
  min-height: 41px;
  margin-bottom: 6px;
}

.section-4 {
  position: relative;
  padding: 0px 0%;
}

.paragraph-2 {
  padding: 0px 11px;
  font-family: Merriweather, serif;
  color: #8f5959;
  font-size: 23px;
  line-height: 33px;
  font-style: italic;
  font-weight: 200;
  text-align: center;
}

.div-block-16 {
  position: absolute;
  width: 1%;
  height: 100%;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: #8f5959;
  opacity: 0.23;
}

.div-block-16.izq {
  top: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-17 {
  position: relative;
}

.image-11 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: none;
  width: auto;
  height: 100%;
  opacity: 0.24;
}

.image-11.der {
  left: 0px;
  top: 0px;
  right: auto;
  bottom: 0px;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.div-block-18 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 8%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-19 {
  display: none;
  height: 400px;
  background-image: url('../images/flor.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.notahome {
  position: relative;
  overflow: hidden;
  width: auto;
  margin-right: 0px;
  padding-right: 0px;
}

.notahome.derecha {
  padding-right: 0px;
  float: right;
}

.notahome.left {
  margin-right: 10px;
}

.notahome.right {
  margin-left: 10px;
}

.notahome.destaca {
  height: auto;
}

.headernotahome {
  position: static;
  margin-bottom: 5px;
}

.imgnotahome {
  width: 100%;
  height: 45vh;
  max-height: auto;
  min-height: auto;
}

.imgnotahome.chica {
  height: 45vh;
  max-height: auto;
  min-height: auto;
}

.imgnotahome.destacado {
  height: 80vh;
  padding-right: 0px;
}

.imgnotahome.sidebar {
  height: 30vh;
}

.categorianotahome {
  display: block;
  margin-bottom: 0px;
  padding: 10px 5px;
  float: none;
  background-color: rgba(143, 89, 89, .31);
  font-family: Montserrat, sans-serif;
  color: #070707;
  font-weight: 500;
  text-transform: uppercase;
}

.categorianotahome.sidebar {
  display: none;
  margin-right: auto;
  margin-bottom: 9px;
  margin-left: auto;
  float: none;
  background-color: transparent;
  font-size: 12px;
  text-align: center;
}

.fechanotahome {
  display: block;
  margin-top: 5px;
  margin-left: 4px;
  padding-right: 2px;
  float: left;
  font-family: Merriweather, serif;
  color: #797373;
  font-size: 12px;
  text-align: right;
}

.subheadernotahome {
  position: relative;
  z-index: 10;
  display: block;
  min-height: 20px;
  margin-bottom: 10px;
}

.autornotahome {
  position: relative;
  display: block;
  margin-right: 87px;
  margin-bottom: 0px;
  padding-left: 2px;
  float: right;
  font-family: Merriweather, serif;
  color: #272727;
}

.fotoautornotahome {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 70px;
  margin-right: 8px;
  border-radius: 100px;
  box-shadow: 1px 1px 3px 0 #000;
}

.wrapperfotonotahome {
  position: relative;
  height: auto;
}

.pienotahome {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: auto;
  margin-top: 0px;
  padding: 10px 10px 5px;
  background-color: rgba(33, 34, 34, .85);
}

.pienotahome.sidebar {
  display: block;
}

.titulonotahome {
  font-family: Merriweather, serif;
  color: #fff;
  font-size: 22px;
}

.titulonotahome.small {
  font-size: 20px;
}

.subtitulonotahome {
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}

.subtitulonotahome.small {
  font-size: 12px;
  line-height: 16px;
}

.cuerponotahome {
  display: none;
  overflow: visible;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  opacity: 1;
  font-family: Montserrat, sans-serif;
  color: #070707;
  font-weight: 400;
}

.sobrenotahome {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 12;
  display: block;
  height: auto;
  background-color: transparent;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  cursor: pointer;
}

.sobrenotahome:hover {
  background-color: hsla(0, 3%, 6%, .17);
}

.column-6 {
  padding-right: 0px;
}

.column-7 {
  overflow: hidden;
  padding-left: 5px;
}

.col1novedades {
  padding-right: 0px;
}

.col2novedades {
  padding-left: 0px;
}

.column-8 {
  padding: 0px;
}

.column-9 {
  padding-left: 10px;
}

._2columnas {
  margin-bottom: 20px;
}

.novedades {
  padding-right: 10px;
}

.notasdeautor {
  padding-right: 10px;
}

.destacado {
  padding-right: 10px;
}

.videodestacado {
  padding-right: 10px;
}

.eventos {
  padding-right: 10px;
}

.div-block-20 {
  height: 50vh;
  background-image: url('../images/77-espumante-quinde-rose-x1-011-0970e056dadbf7b87715122964508331-640-0.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.divfotonota {
  height: 45vh;
  background-image: url('../images/6a00d8341c85cd53ef01b7c94ea3a0970b.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.conttitsecc {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  margin-top: 28px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-23 {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 35px;
  border-top: 1px solid #c0b8b8;
}

.video-2 {
  width: 96%;
  margin-bottom: 0px;
  float: none;
}

.video-2.der {
  float: right;
}

.video-2.medio {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.video-2.med {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.video-2.grande {
  width: 98%;
  margin-bottom: 0px;
}

.txtmasleido {
  margin-top: 0px;
  font-family: Merriweather, serif;
  color: #8f5959;
  font-size: 13px;
  font-style: italic;
  text-decoration: none;
  text-transform: capitalize;
}

.link {
  color: #8f5959;
}

.unordered-list {
  padding-left: 15px;
}

.div-block-24 {
  width: 100%;
}

.footer2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 100px 7%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #1a1919;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .87), rgba(0, 0, 0, .87)), url('../images/footer.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .87), rgba(0, 0, 0, .87)), url('../images/footer.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 960px;
  background-repeat: repeat, repeat-x;
}

.row-4 {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 13px;
  border-bottom: 1px solid #898383;
}

.column-10 {
  padding-left: 0px;
}

.image-12 {
  width: 250px;
  opacity: 0.58;
}

.linkfooter {
  display: block;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 200;
  text-decoration: none;
}

.row-5 {
  margin-top: 45px;
}

.column-11 {
  padding-right: 10px;
}

.titulosidebar {
  margin-top: 0px;
  font-family: Merriweather, serif;
  font-weight: 600;
}

.subtitulosidebar {
  font-family: Montserrat, sans-serif;
}

.div-block-25 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.column-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.html-embed {
  width: 185px;
  margin-top: 0px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  opacity: 0.4;
}

.row-6 {
  margin-top: 22px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.column-13 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.image-13 {
  position: absolute;
  display: block;
  width: 279px;
  margin-top: 58px;
}

.html-embed-2 {
  display: block;
}

.modal {
  position: absolute;
  z-index: 50;
  display: none;
  width: 40%;
  height: 130px;
  background-color: rgba(12, 13, 13, .47);
}

.text-block-3 {
  display: inline-block;
  margin-left: 7px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.menu-button {
  background-color: transparent;
}

.notasidebar {
  cursor: -webkit-grab;
}

.divfotosidebar {
  width: 100%;
  height: auto;
}

.pienotasidebar {
  margin-top: 5px;
  padding: 7px 5px;
  border: 1px solid #c0b8b8;
  background-color: transparent;
}

.imgnotasidebar {
  width: 100%;
}

.masleido {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px;
  padding: 3px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border: 1px solid #c0b8b8;
}

.imgmasleido {
  display: block;
  width: 12vh;
  margin-right: 11px;
}

.row-7 {
  margin-bottom: 16px;
}

.column-15 {
  padding-left: 5px;
}

.column-16 {
  padding-right: 5px;
}

.video-3 {
  width: 98%;
}

.video-4 {
  width: 98%;
  float: right;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #8f5959;
  background-image: -webkit-linear-gradient(270deg, rgba(143, 89, 89, .76), rgba(143, 89, 89, .76)), url('../images/FotoInicio.jpg');
  background-image: linear-gradient(180deg, rgba(143, 89, 89, .76), rgba(143, 89, 89, .76)), url('../images/FotoInicio.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.heading-5 {
  padding: 16px;
  border-style: solid;
  border-width: 9px;
  border-color: hsla(0, 0%, 100%, .24);
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-weight: 200;
}

.seccion {
  padding-right: 10px;
}

.link-block {
  text-decoration: none;
}

.notarelacionada._1 {
  padding-right: 5px;
  cursor: pointer;
}

.titnotarelacionada {
  margin-top: 3px;
  font-family: Merriweather, serif;
  font-weight: 700;
}

.subtnotarelacionada {
  font-family: Montserrat, sans-serif;
}

.div-block-27 {
  padding: 30px 7%;
}

.image-14 {
  width: auto;
  margin-top: 35px;
}

.share {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  display: none;
  margin-right: 7%;
}

.nosotros {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.cadauno {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrappfoto {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin-right: 14px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 200px;
}

.foto1 {
  display: inline-block;
  width: 75px;
}

.foto2 {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  width: 75px;
}

.nombre {
  display: inline-block;
  margin-top: 8px;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-family: Merriweather, serif;
  color: #b8b5b5;
  font-size: 12px;
  text-decoration: none;
}

.parrnos {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  overflow: hidden;
  margin-top: 27px;
  padding-right: 20px;
  font-family: Montserrat, sans-serif;
  color: #aaa4a4;
  font-size: 12px;
  line-height: 14px;
}

.div-block-28 {
  position: relative;
  width: 100%;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.parrderechos {
  font-family: Montserrat, sans-serif;
  color: #9b9797;
  font-size: 10px;
  line-height: 12px;
}

.divcolaboran {
  position: relative;
  display: block;
  margin-bottom: 13px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #e2e1e1;
}

.imgcolaboran {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  float: right;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.linkcolaboran {
  display: block;
  margin-top: 0px;
  padding-right: 0px;
  font-family: Merriweather, serif;
  color: #8f5959;
  text-decoration: none;
}

.text-block-4 {
  border-top: 1px none #d8d4d4;
  font-family: Montserrat, sans-serif;
}

.div-block-29 {
  width: 80%;
}

.section-5 {
  height: 700px;
}

.dejanostucomentario {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #c5c3c3;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.fotonota2 {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.div-block-30 {
  cursor: pointer;
}

.sharenota {
  position: relative;
  width: auto;
  margin-top: 18px;
  float: none;
}

.contacto {
  height: auto;
  padding: 100px 7%;
  background-image: -webkit-linear-gradient(270deg, rgba(143, 89, 89, .79), rgba(143, 89, 89, .79)), url('../images/contactBackground.jpg');
  background-image: linear-gradient(180deg, rgba(143, 89, 89, .79), rgba(143, 89, 89, .79)), url('../images/contactBackground.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.inputcontact {
  font-family: Montserrat, sans-serif;
}

.inputcontact.msje {
  height: 200px;
}

.submitcontact {
  width: 24%;
  float: right;
  background-color: #553434;
  font-family: Montserrat, sans-serif;
}

.div-block-31 {
  padding: 10px;
  background-color: #fff;
}

.txtgrandecontact {
  padding: 0px;
  font-family: Merriweather, serif;
  color: #8f5959;
  font-size: 22px;
  font-weight: 700;
}

.txtchicocontact {
  margin-top: 10px;
  margin-bottom: 7px;
  font-family: Merriweather, serif;
}

.imgctacto {
  width: auto;
  height: 118px;
  float: right;
}

.linkctacto {
  font-family: Montserrat, sans-serif;
  color: #8f5959;
  text-decoration: none;
  cursor: pointer;
}

.div-block-32 {
  height: 5px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, .21);
}

.column-19 {
  padding-right: 0px;
}

.column-20 {
  padding-left: 0px;
}

.botonctactoinicio {
  margin-top: 8px;
  background-color: #8f5959;
  font-family: Montserrat, sans-serif;
}

.column-21 {
  padding-right: 10px;
}

.row-8 {
  width: 99%;
  margin-top: 23px;
  margin-right: 10px;
  padding-top: 22px;
  border-top: 1px solid #a9abac;
}

.paragraph-3 {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  color: #b8b8b8;
  font-size: 13px;
}

.block-quote {
  margin-top: 35px;
  margin-bottom: 1px;
  border-left-style: none;
  font-family: Merriweather, serif;
  color: #8f5959;
  font-size: 16px;
}

.div-block-33 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  margin-top: 36px;
}

.text-block-6 {
  margin-top: 36px;
  margin-bottom: 11px;
  padding: 18px;
  border: 1px dashed #8f5959;
  font-family: Merriweather, serif;
  color: #8f5959;
  font-size: 16px;
  font-weight: 300;
}

.link-2 {
  color: #8f5959;
  text-decoration: none;
}

.divmultiinicio {
  padding-right: 0px;
}

.divmultiinicio.centro {
  padding-left: 0px;
}

.sobrevideo {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 5;
  display: block;
  width: 98%;
  height: 100%;
  cursor: pointer;
}

.sobrevideo.der {
  left: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.row-9 {
  margin-bottom: 17px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ab6b71;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-6 {
  font-family: Montserrat, sans-serif;
}

.text-block-7 {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.div-block-34 {
  margin-bottom: 23px;
  background-color: transparent;
}

@media (max-width: 991px) {
  .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1%;
    padding-left: 1%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-menu {
    width: 40%;
    padding-bottom: 5px;
    background-color: #8f5959;
  }
  .navlink {
    padding-bottom: 6px;
  }
  .header {
    padding-right: 1%;
    padding-left: 1%;
  }
  .column-4 {
    padding-right: 0px;
  }
  .divpagina {
    padding-right: 1%;
    padding-left: 1%;
  }
  .social {
    margin-right: 1%;
  }
  .brand2 {
    margin-left: 1%;
  }
  .image-6 {
    width: 200px;
  }
  .busqueda {
    margin-right: 1%;
  }
  .busqueda.celu {
    display: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .heading-4 {
    font-size: 31px;
    text-align: center;
  }
  .dropdownlink {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .divaudio {
    margin-top: 40px;
    margin-left: 2%;
  }
  .paragraph-2 {
    padding-right: 0px;
    padding-left: 0px;
    font-size: 22px;
    text-align: center;
  }
  .div-block-18 {
    padding-right: 4%;
    padding-left: 4%;
  }
  .imgnotahome.chica {
    height: 20vh;
  }
  .imgnotahome.destacado {
    height: 45vh;
  }
  .imgnotahome.sidebar {
    height: 15vh;
  }
  .fotoautornotahome {
    width: 57px;
  }
  .titulonotahome {
    font-size: 20px;
  }
  .titulonotahome.small {
    font-size: 17px;
  }
  .subtitulonotahome {
    font-size: 12px;
  }
  .cuerponotahome {
    font-size: 13px;
  }
  .txtmasleido {
    text-align: center;
  }
  .menu-button {
    display: block;
    width: auto;
    height: auto;
    margin-bottom: 5px;
    padding: 0px;
    float: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    background-color: transparent;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    opacity: 1;
  }
  .menu-button.w--open {
    padding: 3px;
    border-radius: 100px;
  }
  .icon {
    display: inline-block;
    background-image: none;
    background-position: 0px 0px;
    background-size: auto;
    background-repeat: repeat;
  }
  .masleido {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-27 {
    padding-right: 1%;
    padding-left: 1%;
  }
  .linkcolaboran {
    margin-top: 0px;
    font-size: 13px;
    line-height: 18px;
  }
  .text-block-4 {
    font-size: 13px;
    line-height: 17px;
  }
  .image-15 {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }
  .column-18 {
    padding-right: 0px;
  }
}

@media (max-width: 767px) {
  .nav-menu {
    width: 50%;
  }
  .header {
    display: none;
    padding-right: 1%;
    padding-left: 1%;
  }
  .div-block-3 {
    padding-right: 1%;
    padding-left: 1%;
  }
  .column-4 {
    padding-left: 0px;
    border-left-style: none;
  }
  .publisb {
    cursor: pointer;
  }
  .image-4 {
    width: 45%;
  }
  .logopubli {
    margin-right: 15px;
    margin-left: 15px;
  }
  .logopubli.pequea {
    width: 98px;
  }
  .body {
    padding-top: 59px;
  }
  .brand2.movil {
    display: block;
  }
  .image-6 {
    display: none;
    width: 150px;
    float: left;
  }
  .busqueda {
    margin-right: 1%;
  }
  .busqueda.celu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 52px;
    margin-top: 13px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .div-block-11.foot {
    display: block;
    margin-top: 21px;
    margin-right: auto;
    margin-left: auto;
  }
  .heading-4 {
    font-size: 21px;
  }
  .divaudio {
    display: block;
    padding-left: 2px;
  }
  .column-5 {
    padding-right: 0px;
  }
  .paragraph-2 {
    font-size: 19px;
  }
  .notahome.chica.left {
    margin-right: 0px;
  }
  .notahome.chica.right {
    margin-left: 0px;
  }
  .notahome.chica.right.movil {
    margin-left: 0px;
  }
  .imgnotahome.chica {
    height: 40vh;
  }
  .fechanotahome {
    margin-left: 4px;
  }
  .sobrenotahome {
    display: block;
  }
  .column-9 {
    margin-top: 20px;
  }
  .novedades {
    padding-right: 0px;
  }
  .notasdeautor {
    padding-right: 0px;
  }
  .destacado {
    padding-right: 0px;
  }
  .videodestacado {
    padding-right: 0px;
  }
  .eventos {
    padding-right: 0px;
  }
  .div-block-23 {
    padding-right: 10px;
  }
  .txtmasleido {
    text-align: center;
  }
  .html-embed {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .row-6 {
    margin-top: 79px;
  }
  .image-13 {
    width: 200px;
    margin-top: -18px;
  }
  .notasidebar {
    display: block;
    width: 100%;
    padding-right: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    cursor: pointer;
  }
  .divfotosidebar {
    display: inline-block;
    width: 50%;
  }
  .pienotasidebar {
    position: relative;
    display: inline-block;
    width: 47%;
    margin-top: 0px;
    margin-left: 16px;
  }
  .imgnotasidebar {
    display: inline-block;
    width: auto;
  }
  .masleido {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .video-3 {
    width: 100%;
  }
  .video-4 {
    width: 100%;
    margin-top: 20px;
  }
  .share {
    display: none;
  }
  .linkcolaboran {
    display: block;
    margin-top: 3px;
  }
  .column-17 {
    margin-top: 61px;
  }
  .column-18 {
    padding-left: 0px;
  }
  .div-block-30 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .column-19 {
    margin-top: 26px;
    padding-left: 0px;
  }
  .column-20 {
    padding-right: 0px;
  }
}

@media (max-width: 479px) {
  .nav-menu {
    width: 100%;
  }
  .titulosecciones {
    padding-right: 0px;
    padding-left: 0px;
    line-height: 23px;
  }
  .column-4 {
    padding-left: 0px;
  }
  .image-4 {
    width: 70%;
  }
  .logopubli {
    margin-right: 5px;
    margin-left: 5px;
  }
  .brand2 {
    width: 119px;
  }
  .busqueda.celu {
    width: 100%;
  }
  .div-block-11 {
    width: 142px;
  }
  .heading-4 {
    width: 80%;
  }
  .audioon {
    width: 25px;
  }
  .audiooff {
    width: 25px;
  }
  .novedades {
    padding-right: 0px;
  }
  .notasdeautor {
    padding-right: 0px;
  }
  .destacado {
    padding-right: 0px;
  }
  .videodestacado {
    padding-right: 0px;
  }
  .eventos {
    padding-right: 0px;
  }
  .video-2 {
    width: 100%;
  }
  .video-2.grande {
    width: 100%;
  }
  .footer2 {
    padding-right: 2%;
    padding-left: 2%;
  }
  .row-6 {
    margin-top: 130px;
  }
  .column-14 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image-13 {
    margin-top: 30px;
  }
  .text-block-3 {
    font-size: 13px;
  }
  .notasidebar {
    width: 100%;
  }
  .row-7 {
    margin-bottom: 0px;
  }
  .parrnos {
    font-size: 11px;
  }
  .column-17 {
    margin-top: 89px;
  }
  .divmultiinicio {
    margin-bottom: 21px;
  }
}

@font-face {
  font-family: 'Aqua';
  src: url('../fonts/aqua.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}